<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:dt="http://www.thymeleaf.org/dandelion/datatables"
	th:replace="~{fragments/layout-login :: layout(~{::content-wrapper},~{::content-js})}">

<div th:fragment="content-wrapper" class="login-box">
	<div class="login-logo">
		<a th:href="@{/}"><b>Privacy</b> Assistant</a>
	</div>
	<!-- /.login-logo -->
	<div class="login-box-body">
		<p class="login-box-msg">Sign in to start your session</p>
		
		<p th:if="${param.error}" class="callout callout-danger">Credenziali d'acceso non valide</p>
		<form th:action="@{/login}" method="post">
			<div class="form-group has-feedback">
				<input type="text" th:id="username" th:name="username" class="form-control" placeholder="Username">
				<span class="glyphicon glyphicon-envelope form-control-feedback"></span>
			</div>
			<div class="form-group has-feedback">
				<input type="password" th:id="password" th:name="password" class="form-control" placeholder="Password">
				<span class="glyphicon glyphicon-lock form-control-feedback"></span>
			</div>
			<div class="row">
				<div class="col-xs-8">
					<div class="checkbox icheck">
						<label> <input type="checkbox"> Remember Me
						</label>
					</div>
				</div>
				<!-- /.col -->
				<div class="col-xs-4">
					<button type="submit" class="btn btn-primary btn-block btn-flat">Sign
						In</button>
				</div>
				<!-- /.col -->
			</div>
		</form>

		<!-- <a href="#">I forgot my password</a><br> <a href="register.html"
				class="text-center">Register a new membership</a> -->

	</div>
	<!-- /.login-box-body -->
</div>
<!-- /.login-box -->

<th:block th:fragment="content-js">
	<script th:inline="javascript">
		/*<![CDATA[*/

		/*]]>*/
	</script>
</th:block>

</html>



